html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
}

.container {
    display: flex;
    gap: 2rem;
}

.container--column {
    flex-direction: column;
}

.row {
    display: flex;
    gap: 2rem;
}

.row--left {
    justify-items: flex-start;
}

.avatar-wrapper {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-wrapper > img {
    width: 100%;
}
