<!DOCTYPE html>
<html>
    <head>
        <title>WT1</title>
    </head>
    <body>
        <div class="row row--center">
            <h1 class="title">Home</h1>
        </div>
        <div class="row row--center">
            <h2>Welcome!</h2>    
        </div>
    </body>
</html>